<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <link rel='shortcut icon', href='/favicon.png'>
    <link rel='stylesheet' href='/stylesheets/pnotify.min.css'>
    <link rel='stylesheet' href='/stylesheets/animate.css'>
    <link rel='stylesheet' href='/stylesheets/nano.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura:400,700|Pattaya">
  </head>
  <body>
    <div class="main-dashboard">
      <div class="table-panel">
        <div class="left-bar table-child ver-mid">
          <div class="search-bar">
            <div class="table-panel">
              <div class="table-child ver-mid">
                <input id="searchInput" type="text" class="no-outline" name="search" placeholder="Search ...">
              </div>
              <div class="table-child add-room-box ver-mid">
                <button class="new-room no-outline" type="button" data-toggle="modal" data-target="#newRoomModal">
                  <img src="./images/add-icon.svg" class="add-icon">
                </button>
              </div>
            </div>
          </div>
          <div id="leftBarNano" class="nano">
            <div class="nano-content">
              <ul class="list-target list-unstyled" id="listRooms">
              </ul>
            </div>
          </div>
        </div>
        <div class="main-content table-child ver-mid">
          <div class="room-header">
            <h2 class="room-detail"><%= roomTitle %></h2>
          </div>
          <div id="mainChat" class="main-chat">
            <div id="mainChatLoading">
              <img src="./images/loading.svg" class="loading-icon">
            </div>
            <div id="mainChatNano" class="nano">
              <div class="nano-content">
                <ul class="list-unstyled list-messages" id="listMessages" data-target="<%= target %>" >
                 <!--  <li class="message-item right-message">
                    <p class="message-time">6/30/2017, 2:29:20 AM</p>
                    <div class="table-panel">
                      <div class="table-child ver-mid">
                        <div class="message-content-box">
                          <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                      <div class="table-child message-user-avatar ver-top">
                        <img src="./images/default-user.png" alt="User name" class="img-circle">
                      </div>
                    </div>
                  </li>
                  <li class="message-item left-message">
                    <p class="message-time">6/30/2017, 2:29:20 AM</p>
                    <div class="table-panel">
                      <div class="table-child message-user-avatar ver-top">
                        <img src="./images/default-user.png" alt="User name" class="img-circle">
                      </div>
                      <div class="table-child ver-mid">
                        <div class="message-content-box">
                          <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="form-box">
            <form id="formMessages" onsubmit="return false;">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  <input data-target="<%= target %>" type="text" id="messageInput" class="message-input no-outline" placeholder="Enter message ..." autofocus>
                </div>
                <div class="table-child send-button-box ver-mid">
                  <button class="send-button no-outline" id="sendButton" onclick="sendMessage()">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="newRoomLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="newRoomLabel">Create new room</h4>
          </div>
          <form id="formAddRoom" onsubmit="return false;">
            <div class="modal-body">
              <div class="room-form-group">
                <div class="table-panel">
                  <div class="table-child ver-mid">
                    <label for="roomTitleInput">Room title <br /> <span class="label-trick">( 3 characters minimum )</span></label>
                  </div>
                  <div class="table-child ver-mid">
                    <input id="roomTitleInput" class="no-outline form-validate" type="text">
                  </div>
                </div>
              </div>
              <div class="room-form-group">
                <div class="table-panel">
                  <div class="table-child ver-mid">
                    Private room
                  </div>
                  <div class="table-child ver-mid">
                    <div class="switch-box">
                      <input id="privateRoomInput" class="password-toggle password-toggle-round" type="checkbox">
                      <label for="privateRoomInput" data-toggle="collapse" data-target="#usePassword" aria-expanded="false" aria-controls="usePassword" id="privateRoomInputLabel"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse" id="usePassword">
                <div class="room-form-group">
                  <div class="table-panel">
                    <div class="table-child ver-mid">
                      <label for="roomPasswordInput">Password <br /> <span class="label-trick">( 6 characters minimum )</span></label>
                    </div>
                    <div class="table-child ver-mid">
                      <input id="roomPasswordInput" class="no-outline form-validate" type="password">
                    </div>
                  </div>
                </div>
                <div class="room-form-group">
                  <div class="table-panel">
                    <div class="table-child ver-mid">
                      <label for="roomComfirmPasswordInput">Comfirm password</label>
                    </div>
                    <div class="table-child ver-mid">
                      <input id="roomComfirmPasswordInput" class="no-outline form-validate" type="password">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="beef-btn btn-no no-outline" data-dismiss="modal">Cancel</button>
              <button class="beef-btn btn-yes no-outline" onclick="addNewRoom();">Create room</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src='/socket.io/socket.io.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='/javascripts/pnotify.min.js'></script>
  <script src='/javascripts/nanoscroller.min.js'></script>

  <script type="text/javascript">
    var socket = io();

    $('#leftBarNano').nanoScroller({ scroll: 'top' });
    $('#mainChatNano').nanoScroller({ scroll: 'bottom' });

    function addNewRoom() {
      var room_title = $('#roomTitleInput').val();
      var is_private_room = $('#privateRoomInputLabel').attr('aria-expanded');
      var room_password = $('#roomPasswordInput').val();
      var room_comfirm_password = $('#roomComfirmPasswordInput').val();

      if (validateNewRoomForm(room_title, is_private_room, room_password, room_comfirm_password)) {
        socket.emit('new room', room_title, is_private_room, room_password, room_comfirm_password);
        $('#newRoomModal').modal('hide');
        $('#usePassword').collapse('hide');
        $('#roomTitleInput').val('');
        $('#roomPasswordInput').val('');
        $('#roomComfirmPasswordInput').val('');
      };
    };

    function sendMessage() {
      if ($('#messageInput').val() != '') {
        socket.emit('new message', $('#messageInput').data('target'), $('#messageInput').val());
      };
      $('#messageInput').val('');
      $('#messageInput').focus();
    };

    function validateNewRoomForm(room_title, is_private_room, room_password, room_comfirm_password) {
      var errorMessage = '';
      if (room_title.length < 3) {
        $('#roomTitleInput').addClass('has-error');
        errorMessage += 'room_title \n';
      } else {
        $('#roomTitleInput').removeClass('has-error');
      };

      if (is_private_room == 'true' && room_password.length < 6) {
        $('#roomPasswordInput').addClass('has-error');
        errorMessage += 'room_password \n';
      } else {
        $('#roomPasswordInput').removeClass('has-error');
      };

      if (is_private_room == 'true' && room_password != room_comfirm_password) {
        $('#roomComfirmPasswordInput').addClass('has-error');
        errorMessage += 'room_comfirm_password \n';
      } else {
        $('#roomComfirmPasswordInput').removeClass('has-error');
      };

      if (errorMessage == '') {
        return true;
      } else {
        return false;
      }
    }

    function changeRoom(params){
      var current = $('#listRooms .active').attr('data-target-id');
      var target = $(params).attr('data-target-id');

      if ( current != target) {
        $('#mainChatLoading').show(0);
        socket.emit('change room', target);
      }
    }

    socket.on('room was change', function( room, listMessageTarget, messageHtml ){
      $('#listRooms .target-item').removeClass('active');
      $('#listRooms .target-item[data-target-id="' + room._id + '"]').addClass('active');
      $('.room-detail').html(room.title);
      $('#listMessages').attr('data-target', room._id);
      $('#listMessages .message-item').remove();
      $(listMessageTarget).append(messageHtml);
      $('#mainChatLoading').fadeOut(500);

      document.title = room.title + ' room';
      window.history.pushState('', '', '/' + room._id );
    });

    socket.on('chat message', function(listMessageTarget, messageHtml, messageContent){
      $(listMessageTarget).append(messageHtml);
      $("#mainChatNano").nanoScroller();
      $("#mainChatNano").nanoScroller({ scroll: 'bottom' });

      // Update last message on room bar
    });

    socket.on('add new room', function(roomHtml, roomId, isNewRoom ){
      $('#listRooms').prepend(roomHtml);
      $('#leftBarNano').nanoScroller();
      $('#leftBarNano').nanoScroller({ scroll: 'top' });
      if (isNewRoom) {
        socket.emit('change room', roomId);
      }
    });

    // socket.on('notify', function(content, type){
    //   new PNotify({
    //     text: content,
    //     addclass: 'notice-' + type,
    //     animate: {
    //       animate: true,
    //       in_class: 'rotateInDownLeft',
    //       out_class: 'rotateOutUpRight'
    //     },
    //     icon: false
    //   });
    // });

    jQuery(document).ready(function($) {
      socket.emit('change room', '<%= target %>');
    });

  </script>
</html>
